.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next{
        position: absolute;
        border: none;
        background-color:#FFFF;
        top: 50%;
        transform: translateY(-50%);
        left: -42px;
        img{
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -44px;
    }
    .slick-dots{
        text-align: center;
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        button {
            background:#eac8be;
            border: none;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            margin: 5px;
            outline: none;
            font-size: 0;
        }
    }
    .slick-dots li[class="slick-active"] button {
        background: $main-color; 
    }    
}