.reviews {
    min-height: 1047px;
    padding: 80px 0 50px 0;
    &-item {
        display: flex;
        align-items: flex-start;
        margin-top: 60px;
        &__descr {
            width: 680px;
        }
        &__img {
            width: 169px;
            height: 169px;
            margin-right: 60px;
        }
        &__name {
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
        }
        &__achiev {
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
        &__text {
            font-weight: 300;
            font-size: 16px;
            color: #0D0D0D;
        }

    }
}